<p>Following the rise in concerns around climate change, there has been an increasing interest in green and sustainable AI in the general Machine Learning (ML) community. 
  We also see such efforts in the Natural Language Processing (NLP) community. These efforts include workshops and challenges in various conferences. 
  Within the speech community however, the question of energy and carbon footprint remains vastly unexplored and often only considered from the inference perspective. 
  Nevertheless, as popular automatic speech recognition (ASR) model architectures based on deep neural networks keep growing in complexity and size, it appears critical 
  to open a clear discussion about the relevance of certain minor improvements obtained over state-of-the-art results in contrast to the energy and carbon cost 
  induced. With our greener ASR challenge, we would like to initiate discussions and raise awareness on the energy cost of training speech recognizers, 
  motivate academic and industry researchers from the speech community to integrate environmental responsibility concepts in their innovations, 
  rather than solely pushing word error rates (WERs) as well as to develop proper efficiency metrics for ASR training. 
  In this challenge, participants will use open source dataset(s) and deep learning tools to train ASR models and they will report their training efficiency
  on a provided infrastructure.</p>

<p>We look forward to your participation!</p>

<h5>Organizers</h5> 

<ol>
  <li>Xiaohui Zhang</li>
  <li>Leda Sari</li>
  <li>Titouan Parcollet</li>
  <li>Mirco Ravanaelli</li>
  <li>Shinji Watanabe</li>
  <li>Yatharth Saraf</li>
</ol>
