<p>Details are coming soon...</p>

<h5>Important Dates</h5>

<table style="width:80%" border="1px solid black" border-collapse="collapse">
  <tr>
    <th>Task</th>
    <th>Deadline (AoE)</th> 
  </tr>
  <tr>
    <td>Baseline code release</td>
    <td>Early Feb</td>
  </tr>
  <tr>
    <td>Initial submission on LibriSpeech-100</td>
    <td>Feb. 28</td>
  </tr>
  <tr>
    <td>Announcement of the surprise dataset</td>
    <td>Feb. 28</td>
  </tr>
    <tr>
    <td>An Arxiv paper by the organizers summarizing the settings for reference</td>
    <td>Mid-March</td>
  </tr>
  <tr>
    <td>Evaluation results and leaderboard announcement</td>
    <td>Mar. 14</td>
  </tr>
  <tr>
    <td>Paper submission deadline</td>
    <td>Mar. 21</td>
  </tr>
  <tr>
    <td>Paper update deadline</td>
    <td>Mar. 27</td>
  </tr>
</table>
